$body-bg: white;

$primary: #36a366;
$primaryLight: #83d1a5;
$primaryExtraLight: rgb(190, 236, 210);
$primaryDark: #14502e;
$secondary: #2b3a3d;
$secondaryDark: #0a0c0c;
$accentColor: #36a366;;
$accentColorDark: #14502e;
$darkBlueBackground: #0f151f;

$bodyTextColor: #c8c7c2;
$bodyTextColorLight: #c8c7c2;
$bodyTextColorDark: #0a0c0c;
              
$navbar-dark-hover-color: #14502e;
$navbar-light-hover-color:         #36a366;

$button-corner-radius: 4px;


$nav-link-color: white;
$nav-link-hover-color:  $accentColor;